.container-article {
  width: 100wv;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  width: 700px;
  background-color: white;
  padding: 20px;
}
